$primary-color-1       : rgb(75, 75, 233);
$secondary-color-1     : rgb(43, 43, 185);
$accent-color-1        : rgb(4, 4, 128);
$accent-color-2        : rgb(94, 94, 134);
$accent-color-3        : rgb(70, 70, 125);
$accent-color-4        : rgb(47, 47, 78);
$text-color-logo-1     : rgb(0, 179, 255, 0.8);
$text-color-main-1     : white;
$text-color-secondary-1: rgb(223, 228, 242);
$text-inactive-1       : gray;